# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.sample(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19977,19977,Robert Hill,M,12th,Bailey High School,97,85,7,District,4976,3124928
27204,27204,Ralph Wallace,M,9th,Rodriguez High School,83,76,11,District,3999,2547363
31558,31558,John Fowler,M,10th,Johnson High School,74,72,12,District,4761,3094650
9994,9994,Albert Douglas,M,9th,Hernandez High School,97,62,3,District,4635,3022020
29990,29990,Charles Mendoza,M,9th,Rodriguez High School,63,65,11,District,3999,2547363
11832,11832,James Colon,M,11th,Hernandez High School,98,60,3,District,4635,3022020
13144,13144,Jessica Ross,F,9th,Griffin High School,90,75,4,Charter,1468,917500
10447,10447,Christine Yu,F,9th,Hernandez High School,82,59,3,District,4635,3022020
34704,34704,Cynthia Brown,F,10th,Johnson High School,76,89,12,District,4761,3094650
7436,7436,Brandon Sanchez,M,10th,Shelton High School,78,80,2,Charter,1761,1056600
16432,16432,Thomas Lewis,M,11th,Cabrera High School,95,70,6,Charter,1858,1081356
19571,19571,Michael Adams,M,9th,Bailey High School,72,87,7,District,4976,3124928
36822,36822,Joseph Anderson,M,11th,Ford High School,95,55,13,District,2739,1763916
11643,11643,William Clark,M,9th,Hernandez High School,91,61,3,District,4635,3022020
30316,30316,Rebecca Mcmillan,F,9th,Johnson High School,78,67,12,District,4761,3094650
6574,6574,Patricia Abbott,F,10th,Shelton High School,77,79,2,Charter,1761,1056600
13288,13288,Ronald Cruz,M,9th,Griffin High School,91,83,4,Charter,1468,917500
22419,22419,Todd Williams,M,9th,Bailey High School,83,73,7,District,4976,3124928
11777,11777,Nicole Greene,F,11th,Hernandez High School,70,97,3,District,4635,3022020
7889,7889,Eric Smith,M,12th,Hernandez High School,91,94,3,District,4635,3022020

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].unique().size
school_count

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete)
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data_complete["budget"].unique().sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_dict = {"Total Schools": school_count, "Total Students": student_count, "Total Budget": 
                                total_budget, "Average Math Score": average_math_score, "Average Reading Score":
                                average_reading_score, "% Passing Math": passing_math_percentage, "% Passing Reading":
                                passing_reading_percentage, "% Overall Passing": overall_passing_rate}

index = ['0']
district_summary = pd.DataFrame(district_summary_dict, index=index)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select all of the school types
#To get a list of school types, use the following:
#school_types = school_data_complete["type"].unique()

#To get a list of schools, use the following:
school_list = school_data_complete["school_name"].unique()


#remove below line
school_list

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

#HEY ASK BCS! 
#Why can't I rename the column below? I have tried literally everything.

In [12]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name").size()

#per_school_counts = pd.DataFrame(per_school_counts)
#per_school_counts.set_index="school_name"
#per_school_counts = per_school_counts.rename( columns={0 :'new column name'}, inplace=True )
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].mean()
#index=["school_name"]
#per_school_budget=per_school_budget[["type","budget"]]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
#merge_df=per_school_counts.merge(per_school_budget, on="school_name")
#merge_df.rename(columns={"type":"School Type", 0:'Total Students', "budget":"Total School Budget"}, inplace=True )
#merge_df=merge_df[["School Type", "Total Students", "Total School Budget"]]
#merge_df

In [15]:
per_school_capita = per_school_budget / per_school_counts
#merge_df["Per Student Budget"]=merge_df["Total School Budget"]/merge_df["Total Students"]
#merge_df
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores per school
per_school_scores_math = school_data_complete.groupby("school_name")["math_score"].mean()
#per_school_scores = school_data_complete.groupby("school_name").mean("math_score", "reading_score")
#per_school_scores = per_school_scores[["reading_score","math_score"]]
per_school_scores_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [17]:
# Calculate the average test scores per school
per_school_scores_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

per_school_scores_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [18]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete["math_score"]>70]
school_students_passing_math = students_passing_math.groupby("school_name").count()
school_students_passing_math
#school_students_passing_math = school_students_passing_math[["math_score"]]
#school_students_passing_math.rename(columns={"math_score":"# Passing Math"}, inplace=True )
#school_students_passing_math


#Hey Al. This is where you left off.  This one refuses to be a series.

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,3216,3216,3216,3216,3216,3216,3216,3216,3216,3216
Cabrera High School,1664,1664,1664,1664,1664,1664,1664,1664,1664,1664
Figueroa High School,1880,1880,1880,1880,1880,1880,1880,1880,1880,1880
Ford High School,1801,1801,1801,1801,1801,1801,1801,1801,1801,1801
Griffin High School,1317,1317,1317,1317,1317,1317,1317,1317,1317,1317
Hernandez High School,3001,3001,3001,3001,3001,3001,3001,3001,3001,3001
Holden High School,387,387,387,387,387,387,387,387,387,387
Huang High School,1847,1847,1847,1847,1847,1847,1847,1847,1847,1847
Johnson High School,3040,3040,3040,3040,3040,3040,3040,3040,3040,3040
Pena High School,882,882,882,882,882,882,882,882,882,882
Rodriguez High School,2562,2562,2562,2562,2562,2562,2562,2562,2562,2562
Shelton High School,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583
Thomas High School,1475,1475,1475,1475,1475,1475,1475,1475,1475,1475
Wilson High School,2076,2076,2076,2076,2076,2076,2076,2076,2076,2076
Wright High School,1625,1625,1625,1625,1625,1625,1625,1625,1625,1625

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>70]
school_students_passing_reading = students_passing_reading.groupby("school_name").count()
school_students_passing_reading = school_students_passing_reading[["reading_score"]]
school_students_passing_reading.rename(columns={"reading_score":"# Passing Reading"}, inplace=True )
school_students_passing_reading

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate = pd.DataFrame(overall_passing_rate)
overall_passing_rate

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate = pd.DataFrame(overall_passing_rate, columns=['% Overall Passing'])
overall_passing_rate

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
#per_school_summary = pd.merge(merge_df, per_school_scores, on="school_name")
per_school_summary = pd.merge(merge_df, overall_passing_rate, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_scores, on="school_name")
per_school_summary.rename(columns={"reading_score":"Average Reading Score", "math_score":"Average Math Score"}, 
                          inplace=True )
per_school_summary

In [ ]:
per_school_summary["% Passing Math"]=per_school_passing_math.values
per_school_summary

In [ ]:
per_school_passing_math = pd.DataFrame(per_school_passing_math, columns=['% Passing Math'])
per_school_passing_math

In [ ]:

per_school_passing_reading = pd.DataFrame(per_school_passing_reading, columns=['% Passing Reading'])

per_school_summary = pd.merge(per_school_summary, per_school_passing_math, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passing_reading, on="school_name")
per_school_summary

In [ ]:


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary